body {
	background-color: mediumpurple;
}

/*
Padding adjusts white space INSIDE a thing
Margin makes white space OUTSIDE a thing
*/

header, footer {
	background-color: black;
	margin: 10px 10%;
	padding: 2%;
}

nav, main {
	background-color: black;
	margin: 10px 10%;
	margin-bottom: 20px;
	padding: 10px;
}

main, footer {
	color: white;
}

.hw, h1 {
	text-align: center;
}
article {
	margin-bottom: 60px;
	margin-right: 30px;
	margin-left: 30px;
}

/* Heading settings */

header h1 {
	color: orange;
	text-align: center;
}

header img {
	color: orange; 
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/* Thoughts  */

@counter-style speech-bubble {
	system: cyclic;
	symbols: "\1F4AC";
	suffix: " ";
}

.thoughts {
	list-style-type: speech-bubble;
	margin: 10px;
}



/* Links */
a:link {
	color: orange;
}
a:visited {
	color: yellow;
}
a:hover {
	text-decoration: none;
}
